
.patternText {
  background: repeating-linear-gradient(
      45deg,
      #e74c3c,
      #e74c3c 10px,
      transparent 10px,
      transparent 20px
    ),
    repeating-linear-gradient(
      -45deg,
      #f39c12,
      #f39c12 10px,
      transparent 10px,
      transparent 20px
    );
  background-size: 100% 100%, 100% 100%, 10px 10px, 10px 10px;
  background-position: center center, center center, center center, center center;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-stroke: 2px black; /* Stroke for Webkit browsers */
  text-stroke: 2px black; /* Standard property */
}
